body {
  width: 100%;
  height: 100%;
  background-image: url("/image/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}